COURSES_CANONICAL_BASE=/Users/aultac/Miscellaneous/FBT_SundaySchool
COURSES_NOTES_ACCOUNT=iCloud
COURSES_NOTES_FOLDER=FBT Sunday School
COURSES_NOTES_CACHE_DIR=notes-cache
COURSES_SUMMARIES_DIR=Summaries
COURSES_RESOURCES_DIR=resources
COURSES_FINAL_NOTES_DIR=FinalNotes
COURSES_YOUTUBE_PLAYLIST_URL=https://youtube.com/playlist?list=PLhEOtft6GPkCh5d27mIMwF8rJHsl6M6fz&si=awJS9ECuGCNh1trX
